PRESENTATION_PORT=8080
WORKFLOW_PORT=8081
DATA_PORT=8082

WORKFLOW_BASE_URL=http://workflow-service:8081
DATA_BASE_URL=http://data-service:8082

SQLITE_PATH=/data/campus_buzz.sqlite

AWS_REGION=us-east-1
SUBMISSION_EVENT_FUNCTION_NAME=

